Source: utmptty
Section: utils
Priority: optional
Maintainer: Ryan Finnie <ryan@finnie.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://www.finnie.org/software/utmptty/

Package: utmptty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Update utmp/wtmp entries based on current TTY
 utmptty is a utility to add or remove utmp/wtmp entries for the 
 current TTY (as determined by STDIN).  This is normally a function 
 performed by the getty, but in special cases it may be desirable to do 
 this manually.
