#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

%:
	dh $@ 

override_dh_auto_build:
	$(MAKE) CPPFLAGS="$(CPPFLAGS)" CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)"

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/twuewand PREFIX=/usr
	install -d -m 0755 $(CURDIR)/debian/twuewand/usr/share/man/man8
	install -m 0755 twuewand.8 $(CURDIR)/debian/twuewand/usr/share/man/man8
	install -m 0755 rndaddentropy.8 $(CURDIR)/debian/twuewand/usr/share/man/man8

override_dh_builddeb:
	dh_builddeb -- -Zxz
