#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	# Prevent this package from disappearing
	install -m 0755 -d $(CURDIR)/debian/finnix-standard-arch/var/lib/finnix-standard-arch
	touch $(CURDIR)/debian/finnix-standard-arch/var/lib/finnix-standard-arch/inuse

override_dh_md5sums:
	dh_md5sums -x
