#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	install -m 0755 -d $(CURDIR)/debian/neale-initrd
	install -m 0755 -d $(CURDIR)/debian/neale-initrd/bin
	install -m 0755 -d $(CURDIR)/debian/neale-initrd/dev
	install -m 0755 -d $(CURDIR)/debian/neale-initrd/etc
	install -m 0755 -d $(CURDIR)/debian/neale-initrd/lib
	install -m 0755 -d $(CURDIR)/debian/neale-initrd/lib/modules
	install -m 0755 -d $(CURDIR)/debian/neale-initrd/proc
	install -m 0755 -d $(CURDIR)/debian/neale-initrd/ramdisk
	install -m 0755 -d $(CURDIR)/debian/neale-initrd/sys

	install -m 0755 $(CURDIR)/debian/initrd-files/init $(CURDIR)/debian/neale-initrd/init
	install -m 0644 $(CURDIR)/debian/initrd-files/passwd $(CURDIR)/debian/neale-initrd/etc/passwd
	install -m 0644 $(CURDIR)/debian/initrd-files/group $(CURDIR)/debian/neale-initrd/etc/group
	install -m 0644 $(CURDIR)/debian/initrd-files/resolv.conf $(CURDIR)/debian/neale-initrd/etc/resolv.conf
	install -m 0755 $(CURDIR)/debian/initrd-files/finnix-colors.sh $(CURDIR)/debian/neale-initrd/bin/finnix-colors.sh
	install -m 0755 $(CURDIR)/debian/initrd-files/udhcpc.script $(CURDIR)/debian/neale-initrd/bin/udhcpc.script
	install -m 0755 $(CURDIR)/busybox/busybox-$(DEB_HOST_ARCH) $(CURDIR)/debian/neale-initrd/bin/busybox

	(cd $(CURDIR)/debian/neale-initrd/bin && for i in `./busybox --list`; do ln -s busybox $$i; done)
	mknod -m 0600 $(CURDIR)/debian/neale-initrd/dev/console c 5 1
	mknod -m 0666 $(CURDIR)/debian/neale-initrd/dev/null c 1 3
	mknod -m 0666 $(CURDIR)/debian/neale-initrd/dev/zero c 1 5
	(cd $(CURDIR)/debian/neale-initrd && tar cf dev.tar dev && rm -rf dev)
