Source: finnix-base
Section: misc
Priority: required
Maintainer: Ryan Finnie <ryan@finnie.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.3
Vcs-Browser: https://code.launchpad.net/~fo0bar/finnix/finnix-base-pkg
Vcs-Bzr: http://bazaar.launchpad.net/~fo0bar/finnix/finnix-base-pkg
Homepage: http://www.finnix.org/

Package: finnix-base
Architecture: all
Depends: ${misc:Depends}, ssmtp | mail-transport-agent, finnix-release, finnix-keyring
Description: Base Finnix dependencies
 This meta-package depends all core packages for a base Finnix
 distribution.
