#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

%:
	dh $@

override_dh_auto_install:
	install -m 0755 -d $(CURDIR)/debian/neale-stuff
	cp -a $(CURDIR)/stuff-files/common/* $(CURDIR)/debian/neale-stuff/
	cp -a $(CURDIR)/stuff-files/$(DEB_HOST_ARCH)/* $(CURDIR)/debian/neale-stuff/
