#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	install -d -m 0755 $(CURDIR)/debian/grub-loopback-iso/etc/grub.d
	install -m 0755 $(CURDIR)/loopback-iso $(CURDIR)/debian/grub-loopback-iso/etc/grub.d/30_loopback-iso
