ACTION=="add",    SUBSYSTEM=="block", RUN+="/bin/sh -c '/usr/sbin/rebuildfstab &'"
ACTION=="remove", SUBSYSTEM=="block", RUN+="/bin/sh -c '/usr/sbin/rebuildfstab &'"
